Most probably you need to deal with font coloring type of puzzle. Thus, take into account the following recommendations for task solving:
1) Compare input and output grids from examples to identify what shape and color are important for the task.
2) Find the shape for the identified pattern on the task input grid.
3) Color the shape with the identified color. Most probably the output grid will have the same shape as the task input grid.
